* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #050008;
  color: #ffffff;
  text-align: center;
}

/* NAV */
.navbar {
  background: #0b0014;
  padding: 12px;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #d8b6ff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
}

.navbar a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #b84dff;
}

/* HERO */
.hero {
  background: radial-gradient(circle, #2a003f, #050008);
  padding: 60px 20px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #b84dff;
  box-shadow: 0 0 20px #b84dff;
  margin-bottom: 15px;
}

.hero h1 {
  font-size: 32px;
  font-weight: 800;
}

.hero span {
  color: #b84dff;
}

.hero p {
  margin-top: 10px;
  color: #d8b6ff;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
}

.section.light {
  background: #0d0018;
}

h2 {
  font-size: 26px;
  color: #b84dff;
  margin-bottom: 10px;
}

/* SKILLS */
.skills-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.skill-card {
  background: #1a0028;
  border: 1px solid #b84dff;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(184,77,255,0.4);
  font-weight: 600;
}

/* PROJECTS */
.projects-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #1a0028;
  border: 1px solid #b84dff;
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  box-shadow: 0 0 12px rgba(184,77,255,0.35);
}

.project-card h3 {
  color: #ffffff;
  margin-bottom: 8px;
}

.project-card p {
  color: #d8b6ff;
  font-size: 14px;
  margin-bottom: 10px;
}

.project-card a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.project-card a:hover {
  text-shadow: 0 0 8px #b84dff;
}

/* CONTACT */
.contact-icons {
  margin-top: 15px;
}

.contact-icons a {
  color: #b84dff;
  font-size: 28px;
  margin: 0 12px;
}

.contact-icons a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #b84dff;
}

/* FOOTER */
footer {
  background: #0b0014;
  padding: 15px;
  font-size: 14px;
  color: #d8b6ff;
}
